# global requirements
gunicorn==20.1.0

# postgres requirements
psycopg2-binary==2.9.6

# django requirements
django
django-crispy-forms
crispy-bootstrap4
whitenoise
opencensus-ext-azure
opencensus-ext-django
